<a href="https://colab.research.google.com/github/pritamudugade/Python-basics-codes/blob/main/Assignment_solving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = "1345678918"

print(a[:7] + "####")

1345678####

In [ ]:
a = 13456
reverse = 0
temp = a
while temp > 0:
  remaining = temp % 10
  reverse = (reverse*10) + remaining
  temp = temp // 10
print(reverse)

# another method
a = str(a)
print("".join(reversed(a)))

# another method
a = str(a)
print(a[::-1])

# another method
a = str(a)
b = ""
for i in a:
  b = i + b
print(b)

65431
65431
65431
65431

In [ ]:
# check armstrong or not
num = 153
temp = num
#n = len(str(num))
# to find out the len of num withput len
n = 0
while temp>0:
  rem = temp % 10
  n = n + 1
  temp = temp // 10

print(n)
temp = num
sum = 0
while temp > 0:
  rem = temp % 10
  sum = sum + rem**n
  temp = temp // 10

if sum == num:
  print("armstrong number!!!")

3
armstrong number!!!

In [ ]:
# all armstrong nums upto 1000

for num in range(1,1000):
  temp = num
  n = len(str(num))
  sum = 0

  while temp > 0:
    rem = temp % 10
    sum = sum + rem**n
    temp = temp // 10
  
  if num == sum:
    print("armstrong number:",sum)

armstrong number: 1
armstrong number: 2
armstrong number: 3
armstrong number: 4
armstrong number: 5
armstrong number: 6
armstrong number: 7
armstrong number: 8
armstrong number: 9
armstrong number: 153
armstrong number: 370
armstrong number: 371
armstrong number: 407

In [ ]:
# square in dict with num
d = {}
n = 10
for num in range(1, n+1):
  for i in range(1, num+1):
    if num%i==0:
      d[num] = i
print(d, end=" ")

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}

In [ ]:
# given num is prime or not

n = 11
count = 0
for i in range(1, n+1):
  if n%i == 0:
    count = count + 1
if count == 2:
  print("prime number")

else:
  print("not prime number")

not prime number

In [ ]:
# print all  prime nums upto 100

for num in range(1,100):
  count = 0
  for i in range(1, num+1):
    if num % i == 0:
      count = count + 1

  if count == 2:
    print("prime number:", num)

prime number: 2
prime number: 3
prime number: 5
prime number: 7
prime number: 11
prime number: 13
prime number: 17
prime number: 19
prime number: 23
prime number: 29
prime number: 31
prime number: 37
prime number: 41
prime number: 43
prime number: 47
prime number: 53
prime number: 59
prime number: 61
prime number: 67
prime number: 71
prime number: 73
prime number: 79
prime number: 83
prime number: 89
prime number: 97

In [ ]:
# fibonacci series
a = 0
b = 1
c = 0
for i in range(1,15):
  print(c, end=" ")
  a = b
  b = c
  c = a + b

0 1 1 2 3 5 8 13 21 34 55 89 144 233

In [1]:
# factors
for n in range(1, 50):
  d = []
  f = {}
  for i in range(1, n+1):
    if n%i == 0:
      d.append(i)
      f[n] = d
  print(f)

{1: [1]}
{2: [1, 2]}
{3: [1, 3]}
{4: [1, 2, 4]}
{5: [1, 5]}
{6: [1, 2, 3, 6]}
{7: [1, 7]}
{8: [1, 2, 4, 8]}
{9: [1, 3, 9]}
{10: [1, 2, 5, 10]}
{11: [1, 11]}
{12: [1, 2, 3, 4, 6, 12]}
{13: [1, 13]}
{14: [1, 2, 7, 14]}
{15: [1, 3, 5, 15]}
{16: [1, 2, 4, 8, 16]}
{17: [1, 17]}
{18: [1, 2, 3, 6, 9, 18]}
{19: [1, 19]}
{20: [1, 2, 4, 5, 10, 20]}
{21: [1, 3, 7, 21]}
{22: [1, 2, 11, 22]}
{23: [1, 23]}
{24: [1, 2, 3, 4, 6, 8, 12, 24]}
{25: [1, 5, 25]}
{26: [1, 2, 13, 26]}
{27: [1, 3, 9, 27]}
{28: [1, 2, 4, 7, 14, 28]}
{29: [1, 29]}
{30: [1, 2, 3, 5, 6, 10, 15, 30]}
{31: [1, 31]}
{32: [1, 2, 4, 8, 16, 32]}
{33: [1, 3, 11, 33]}
{34: [1, 2, 17, 34]}
{35: [1, 5, 7, 35]}
{36: [1, 2, 3, 4, 6, 9, 12, 18, 36]}
{37: [1, 37]}
{38: [1, 2, 19, 38]}
{39: [1, 3, 13, 39]}
{40: [1, 2, 4, 5, 8, 10, 20, 40]}
{41: [1, 41]}
{42: [1, 2, 3, 6, 7, 14, 21, 42]}
{43: [1, 43]}
{44: [1, 2, 4, 11, 22, 44]}
{45: [1, 3, 5, 9, 15, 45]}
{46: [1, 2, 23, 46]}
{47: [1, 47]}
{48: [1, 2, 3, 4, 6, 8, 12, 16, 24, 48]}
{49: [1, 7, 49]}

In [ ]:
# fibonacci series using recursion

def fib(num):
  if num == 0:
    return 0
  elif num == 1:
    return 1
  else:
    return fib(num-2) + fib(num-1)

num = 15

for i in range(0,num):
  print(fib(i))

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [ ]:
# number palindrome or not
num = 131
temp = num
rev = 0
while temp > 0:
  rem = temp % 10
  rev = (rev*10) + rem
  temp = temp // 10
if rev == num:
  print("palindrome")
else:
  print("not")

palindrome

In [ ]:
# palindrome using for loop
num = 151
rev = 0
for i in str(num):
  rem = int(i) % 10
  rev = (rev*10) + rem
  i = int(i) // 10
if rev == num:
  print("palindrome")
else:
  print("not")

palindrome

In [ ]:
# greatest amoung three int
a = 13
b = 15
c = 8

if a > b and a > c:
  print("a is greater")
elif b > a and b > c:
  print("b is greater")
elif c > a and c > b:
  print("c is greater")
else:
  print("two values are same")

b is greater

In [ ]:
# greatest amoung three int
a = 13
b = 15
c = 8

print("max value:", max(a,b,c))

max value: 15

In [ ]:
# minimum value 
a = [1,5,8,9]
b = a[0]
for i in range(len(a)):
  if b > a[i]:
    b = a[i]
print("minimum value:", b)

minimum value: 1

In [ ]:
# maximum value
a = [1,5,7,9]
b = a[0]
for i in range(len(a)):
  if b < a[i]:
    b = a[i]

print("maximum value is:", b)

maximum value is: 9

In [ ]:
# check number is binary
bin(15)

a = 1010
type(a)

temp = a
while temp > 0:
  rem = rem % 10
  if rem != 1 and rem != 0:
    print(" not binary")
    break
  temp = temp // 10
  if temp == 0:
    print("number is binary")

number is binary

In [ ]:
# swap numbers without using 3rd variable
a = 14
b = 89

a,b = b,a
print(b)
print(a)

14
89

In [ ]:
# swap nums using 3rd variable
a = 15
b = 8
c = a
a = b
b = c
print(b)
print(a)

15
8

In [ ]:
# factors of given integer
num = 15
fact = []
for i in range(1, num+1):
  if num%i == 0:
    fact.append(i)
print("factors are:", fact)

factors are: [1, 3, 5, 15]

In [ ]:
# multiplication table

for i in range(1,11):
  for j in range(1,11):
    print(i*j, end="\t")
  print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [3]:
# perfect number
num = 6
b = []
for i in range(1,num):
  if num%i == 0:
    b.append(i)

#print(b)
sum = 0
for i in b:
  sum = sum + i
#print(sum)

if sum == num:
  print("perfect number")
else:
  print("not perfect number")

perfect number

In [ ]:
def fact(n):
  if n == 1:
    return 1
  else:
    return n*(fact(n-1))
print(fact(5))

120

In [ ]:
fact = 1
num = 5
for i in range(1, num+1):
  fact = fact * i
print(fact)

120

In [ ]:
# ask user to enter num and check whether it is even or odd

num  = int(input("please enter num:"))

if num%2 == 0:
  print("even num")
else:
  print("odd num")

please enter num:9
odd num

In [ ]:
# add multiple nums and show even odd
n = int(input("pls enter num of entries:"))
nums=[]
res = {}
for i in range(n):
  nums.append(int(input("pls enter num:")))

for j in nums:
  if j%2 == 0:
    res[j] = "even"
  else:
    res[j] = "odd"
print(nums)
print(res)

pls enter num of entries:4
pls enter num:1
pls enter num:4
pls enter num:5
pls enter num:6
[1, 4, 5, 6]
{1: 'odd', 4: 'even', 5: 'odd', 6: 'even'}

In [ ]:
# prime nums upto 100

for i in range(1,100):
  count = 0
  for j in range(1,i+1):
    if i%j == 0:
      count = count + 1

  if count == 2:
    print(j)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
num = 6
e = 3

print(pow(num,e))
print(6**3)

216
216

In [ ]:
# power funtion
def pow(x,y):
  return x**y

print(pow(3,2))

9

In [ ]:
# squareroot

a = 64

from math import sqrt
print(sqrt(a))

8.0

In [ ]:
# square num list
for num in range(1,21):
  sq = []
  for i in range(1, num+1):
    sq.append(i**2)
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
# find sq roots upto 1000

for i in range(1,1000):
  for j in range(i):
    if j*j == i:
      print(i, end=" ")

4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961

In [ ]:
# find cube root upto 1000
for i in range(1,1000):
  for j in range(i):
    if j*j*j == i:
      print(i, end=" ")

8 27 64 125 216 343 512 729

In [ ]:
# square in dict with num
d = {}
n = 20
for num in range(1, n+1):
  for i in range(1, num+1):
    d[i] = i**2
print(d, end=" ")

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [ ]:
# decimal to binary
num = 45
print(bin(num))

0b101101

In [ ]:
# decimal to octal
num = 45
print(oct(num))

0o55

In [ ]:
# decimal to hexadeximal
num = 45
print(hex(num))

0x2d

In [ ]:
# simple intrest
p = 100000
n = 36 #months
r = 8 #%

EMI = (p*n*r)/100
print(i)

288000.0

In [ ]:

# LCM- least common factor
n1 = 12
n2 = 16

f1 = []
# factors of n1
for i in range(1,11):
  f1.append(i*n1)
#print(f1)

f2 = []
# factors of n2
for j in range(1, 11):
  f2.append(j*n2)
#print(f2)

l = list(set(f1) & set(f2))
LCM = min(l)
print("LCM of given num is:", LCM)

LCM of given num is: 48

In [ ]:
# HCF- highest common factor

a = 24
b = 18

f1=[]
# factors of 1st number
for i in range(2,a+1):
  if a%i == 0:
    f1.append(i)
print(f1)

f2=[]
# factors of 2nd number
for j in range(2,b+1):
  if b%j==0:
    f2.append(j)
print(f2)

common = list(set(f1) & set(f2))
print(common)

l = list(set(f1) & set(f2))
LCM = min(l)
print("LCM of given num is:", LCM)

from functools import reduce
HCF = reduce(lambda x,y: x*y, common)
print("HCF is:", HCF)

# GCD (a, b) = (a × b)/ LCM (a, b).

gc = HCF/LCM
print(gc)

[2, 3, 4, 6, 8, 12, 24]
[2, 3, 6, 9, 18]
[2, 3, 6]
LCM of given num is: 2
HCF is: 36
18.0

In [ ]:
a = 18
b = 24

def HCF(a,b):
  if b == 0:
    return a
  else:
    return HCF(b, a%b)

print("HCF", HCF(a,b))

HCF 6

In [ ]:
# HCF
a = 16
b = 12

# GCD (a, b) = (a × b)/ LCM (a, b).

g = (a*b)/48
print(g)

4.0

In [ ]:
# LCM- Least common factor using while loopS
a = 16
b = 12

min = 12                 # min = min(a,b)

while (1):
  if ((min%a == 0) and (min% b == 0)):
    LCM = min
    print("LCM is:", LCM)
    break
  min = min + 1

# GCD - greatest commoon divisor or HCF - highest common factor
# GCD = (a*b) / LCM(a,b)

GCD = (a*b)/LCM
print("GCD  is:", GCD)

LCM is: 48
GCD  is: 4.0

In [ ]:
# HCF using for loop
a = 18
b = 12

for i in range(1, 12):
  if a%i == 0  and b%i == 0:
    hcf = i
print(hcf)

6

In [ ]:
# LCM - least count number

a = 18
b = 12

c = a*b
#print(c)

for i in range(1,c+1):
  if (i%a==0) and (i%b==0):
    LCM = i
    break
print("LCM of given nums:", LCM)

for i in range(2,min):
  if a%i== 0 and b%i==0:
    HCF = i
print("HCF of given numbers:", HCF)

LCM of given nums: 36
HCF of given numbers: 6

In [ ]:
# LCM & HCF using recursion method

a = 18
b = 12

def gcd(a,b):
  if a == 0:
    return b
  return gcd((b%a), a)

print("GCD of given nums:",gcd(a,b))

def lcm(a,b):
  return ((a*b)/gcd(a,b))

print("LCM of given nums:",lcm(a,b))

GCD of given nums: 6
LCM of given nums: 36.0

In [ ]:
# LCM and GCD using math module
a = 18
b = 12
import math


GCD = math.gcd(a,b)
print("GCD is:", GCD)

"""
LCM = math.lcm(a,b)
print("LCM is:", LCM)

AttributeError: module 'math' has no attribute 'lcm'
"""

GCD is: 6

'\nLCM = math.lcm(a,b)\nprint("LCM is:", LCM)\n\nAttributeError: module \'math\' has no attribute \'lcm\'\n'

In [ ]:
a = 18
b = 12
c = a*b

for i in range(1, c+1):
  if i%a == 0 and i%b == 0:
    LCM = i
    break
print("LCM is:", LCM)

min = 12               # min(a,b)
if a%min==0 and b%min==0:
  HCF = i
print("HCF is:", HCF)

LCM is: 36
HCF is: 6

In [ ]:
a = 18
b = 12

def gcd(a,b):                  
  if a==0:
    return b
  return gcd((b%a), a)               # a=(b%a), b=(a)

print("GCD is:",gcd(a,b))

lcm = (a*b)/ gcd(a,b)
print("LCM is:", lcm)

GCD is: 6
LCM is: 36.0

In [ ]:
# remove given char from string
a = "hello python"
ch = "e"
b = ""
for i in a:
  if i==ch:
    continue
  b =  b + i

print(b)

# another method
c = a.replace("e","")
print(c)

hllo python
hllo python

In [ ]:
# occurance of chars
a = "hello python"
ch = "l"
count = 0
for i in a:
  if i == ch:
    count = count + 1

print(count)

2

In [ ]:
# anagram or not
a = "earth"
b = "heart"

if sorted(a) == sorted(b):
  print("given string is anagram")
else:
  print("not")

not

In [ ]:
# check given char is vowel or consonant

a = ["a","e","i","o","u","A","E","I","O","U"]
ch = "K"

if ch in a:
  print("given char is vowel")
else:
  print("given char is consonant")

given char is consonant

In [ ]:
# digit or not

a = "5"
if a.isdigit()==True:
  print("char is digit")

char is digit

In [ ]:
# check digit without isdigit()

a = "8"

b = ["0","1","2","3","4","5","6","7","8","9"]
if a in b:
  print("digit")
else:
  print("character or symbol")

# another method
if a>= "0" and a<="9":
  print("digit")

digit
digit

In [ ]:
# replace i to j
a = "amit"
b = ""
for i in a:
  if i == "i":
    i = "j"
  b = b + i
print(b)

# by using replace method
b = a.replace("i","j")
print(b)

amjt
amjt

In [ ]:
a = "pritam tukaram udugade"
print(a[::-1])

b = ""
for i in a:
  b = i + b
print(b)

edagudu marakut matirp
edagudu marakut matirp

In [ ]:
# Lower case to upper case without lower()

a = "pritam udugade"
b = ""
for i in a:
  if i>="a" and i<="z":
    b = b + chr(ord(i)-32)
  else:
    b = b + i
print(b)

# by using lower()
print(a.upper())

PRITAM UDUGADE
PRITAM UDUGADE

In [ ]:
# count vowels and consonants in string
a = "hello python"
b = ["a","e","i","o","u","A","E","I","O","U"]
con = ""
vow = ""

for i in a:
  if i not in b:
    con = con + i
  else:
    vow = vow + i

print(a)
print(con)
print(vow)

print(len(a))
print(len(con))
print(len(vow))

hello python
hll pythn
eoo
12
9
3

In [ ]:
# remove vowels from given string
a = "hello pritam"
b = ["a","e","i","o","u","A","E","I","O","U"]
c = ""              # string with removed vowels
d = ""                    # removed vowels
for i in a:
  if i not in b:                 # string with removed vowels
    c = c + i
print(c)

for i in a:
  if i in b:
    d = d + i                     # to get the removed vowels
print(d)

hll prtm
eoia

In [ ]:
a = "Pritam Tukaram Udugade"
b = a.split()
print(b)

print(b[0][0])
print(b[1][0])

print(b[0][0]+"."+b[1][0]+"."+b[2])

['Pritam', 'Tukaram', 'Udugade']
P
T
P.T.Udugade

In [ ]:
# count alphabets, digits and symbols

a = "pritam10.u@gmail.com"
al = ""
dig = ""
sym = ""

for i in a:
  if i.isalpha()==True:
    al = al + i
  elif i.isdigit() == True:
    dig = dig + i
  else:
    sym = sym + i

print(a)
print(al)
print(dig)
print(sym)
      
print(len(a))
print(len(al))
print(len(dig))
print(len(sym))

pritam10.u@gmail.com
pritamugmailcom
10
.@.
20
15
2
3

In [ ]:
# remove blank spaces from string

a = "      pritam"
b = a.strip()
print(b)

pritam

In [ ]:
# remove space between the string
a = "hell oo"
b = ""
for i in a:
  if i != " ":
    b = b + i
print(b)

helloo

In [ ]:
# concatenate

a = "hello"
b = "python"
c = ""
print(" ".join([a,b]))

# concatenate
print(a+" "+b)

hello python
hello python

In [ ]:
# remove repeated chars
a = "hello pytthon"
c = ""
d = ""
for i in a:
  if a.count(i) > 1:
    c = c + i
  else:
    d = d + i

print(a)
print(c)
print(d)


# new method
e = []

for i in a:
  if i not in e:
    e.append(i)
print("".join(e))

hello pytthon
hllottho
e pyn
helo pytn

In [ ]:
a = "i got 31 34 78 marks"

print(a.split())
d = []
for i in a.split():
  if i.isdigit() == True:
    d.append(int(i))

print(d)
print(sum(d))

['i', 'got', '31', '34', '78', 'marks']
[31, 34, 78]
143

In [ ]:
# sum of int in string
a = "123!python!@456*"
sum = 0
for i in a:
  if i.isdigit():
    sum = sum + int(i)
print(sum)

21

In [ ]:
# print non-reating chars
a = "quescoll"
b = ""
for i in a:
  c = 0
  for j in a:
    if i == j:
      c = c + 1
      if c > 1:
        break
      if c == 1:
        b = b + i
print(b)

quescoll

In [ ]:
str1 ="quescoll"
result=""
#iterating the characters of string
for i in str1:
    count = 0
    #another loop inside loop
    for j in str1:
	    if i == j:
	      count=count+1
	      if count > 1:
	        break
	      if count == 1:
	        result+=i
print("non repeating character =", result)

non repeating character = quescoll

In [ ]:
# copy one string to another
a = "hello pythion"
b = ""
for i in a:
  b = b + i
print(b)


# another method
c = a[:]                         # whoel string
print(c)

d = ""
d = str(a)
print(d)

hello pythion
hello pythion
hello pythion

In [ ]:
# sort string ascending order
a = "acbed"
b = "".join(sorted(a, reverse=False))
print(b)

c = "".join(sorted(a, reverse=True))
print(c)

abcde
edcba

In [ ]:
a = "abc"
b = "pqr"
c = " ".join([a,b])
print(c)

abc pqr

In [ ]:
# find missing element from array
import numpy as np

a = np.arange(1,100)
print(a)
print(sum(a))

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72
 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96
 97 98 99]

TypeError: ignored

In [ ]:
# find LCM of given nums
a = 18
b = 12

c = a*b

for i in range(2,c+1):
  if i%a == 0 and i%b == 0:
    LCM = i
    break
print("LCM of given num is:", LCM)

LCM of given num is: 36

In [ ]:
# find HCF/GCD
a = 18
b = 12

min = 12     # min(a,b)
for i in range(2, min+1):
  if a%i==0 and b%i==0:
    HCF = i
print("HCF of given num is:", HCF)

HCF of given num is: 6

In [ ]:
# GCD by recursion
a = 18
b = 12

def gcd(a,b):
  if a == 0:
    return b
  return gcd((b%a),a)

print("GCD/HCF of given number:",gcd(a,b))

# LCM by using formula
LCM = (a*b)/gcd(a,b)
print("LCM of given num:", LCM)

GCD/HCF of given number: 6
LCM of given num: 36.0

In [ ]:
a = 18
b = 12

c = [1,3,4,5,6]
print(sum(c))

print(max(a,b))

print(sum(a,b))

print(min(a,b))

TypeError: ignored

In [ ]:
a = "hello world pythonic way"
a = a.split()

print(a[0][0])
print(a[1][0])

h
w

In [ ]:
# dictionary in ascending and descending order

a = {"pritam":28, "mani":32, "shani":24, "fani":30}
for i in a:
  print(i)                # keys return

for i in a:
  print(a[i])                 # values return

for i in a.items():                # pair of keys and values return
  print(i) 

for i in a.keys():               # keys return
  print(i)

for i in a.values():              # values return
  print(i)

for i,j in a.items():
  print(i)                       # i for keys, keys return

for j in a.items():
  print(j)                        # both keys values retun, j is for values

pritam
mani
shani
fani
28
32
24
30
('pritam', 28)
('mani', 32)
('shani', 24)
('fani', 30)
pritam
mani
shani
fani
28
32
24
30
pritam
mani
shani
fani
('pritam', 28)
('mani', 32)
('shani', 24)
('fani', 30)

In [ ]:
# sorting dictionary on the values basis

a = {"pritam":28, "mani":32, "shani":24, "fani":30}
print(a)

b = sorted(a.items(), key=lambda x: x[0])                          # on the basis of key, alphabetical order
print(b)

c = sorted(a.items(), key=lambda x:x[1])                           # on the basis of values
print(c)

{'pritam': 28, 'mani': 32, 'shani': 24, 'fani': 30}
[('fani', 30), ('mani', 32), ('pritam', 28), ('shani', 24)]
[('shani', 24), ('pritam', 28), ('fani', 30), ('mani', 32)]

In [ ]:
a = {"pritam":28, "mani":32, "shani":24, "fani":30}
b = sorted(a.items(), key = lambda x: len(x[0]))                    # sorting on the basis of length of key
print(b)

[('mani', 32), ('fani', 30), ('shani', 24), ('pritam', 28)]

In [ ]:
# descending order
a = {"pritam":28, "mani":32, "shani":24, "fani":30}
b = sorted(a.items(), key=lambda x:x[1], reverse=True)              # on the bais of values, reverse oderd
print(b)

[('mani', 32), ('fani', 30), ('pritam', 28), ('shani', 24)]

In [ ]:
# add key to dictionary
a = {"pritam":28, "mani":32, "shani":24, "fani":30}
a["soni"] = 41
print(a)

{'pritam': 28, 'mani': 32, 'shani': 24, 'fani': 30, 'soni': 41}

In [ ]:
# sorting of dictionary
a = {'pritam': 28, 'mani': 32, 'shani': 24, 'fani': 30, 'soni': 41}
b = sorted(a.items(), key=lambda x:x[1])
print(b)

[('shani', 24), ('pritam', 28), ('fani', 30), ('mani', 32), ('soni', 41)]

In [ ]:
# concatenate following dictionaries
d1={"Name":"Ram" , "Age":23}
d2={"City": "Salem", "Gender": "Male"}
d3={"Mark":450}

d = {}

for i in d1,d2,d3:          # update method
  d.update(i)
print(d)

# another option            # unpacking of elements
e = {**d1,**d2,**d3}
print(e)

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Gender': 'Male', 'Mark': 450}
{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Gender': 'Male', 'Mark': 450}

In [ ]:
# iterate dict with for loop
a = {'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Gender': 'Male', 'Mark': 450}
for i, j in a.items():
  print(i,":", j)

Name : Ram
Age : 23
City : Salem
Gender : Male
Mark : 450

In [ ]:
# generate sq nums - {x:x**2}
d = {}
nums = 8
for i in range(1, nums):
  d[i] = i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
# merge 2 dictionaries
d1={"Name":"Ram" , "Age":23}
d2={"City": "Salem", "Gender": "Male"}

# by using update
d = {}
for i in d1,d2:
  d.update(i)
print(d)

# by using unpacking
e = {**d1,**d2}
print(e)

# by using copy() and update
d12 = d1.copy()
d12.update(d3)
print(d12)

{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Gender': 'Male'}
{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Gender': 'Male'}
{'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Gender': 'Male'}

In [ ]:
# sum of all values in dict
a = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
b = []
for i in a.values():
  b.append(i)
print(b)

sum = 0
for i in b:
  sum = sum + i
print(sum)

[1, 4, 9, 16, 25, 36, 49]
140

In [ ]:
# access elements by index
a = {'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Gender': 'Male'}
a = list(a)                    # indexing not possible in dictionary, background datastructure is hashtable
for i in range(len(a)):
  print(a[i])

Name
Age
City
Gender

In [ ]:
# remove empty values from dict
a = {"Name": "Pooja", "Age":23, "Gender": None, "Mark":488, "City": None}
b = {}
for i,j in a.items():
  if j != None:
    b[i] = j

print(b)

{'Name': 'Pooja', 'Age': 23, 'Mark': 488}

In [ ]:
# match same
A = {'Tamil': 92, 'English': 56, 'Maths': 88, 'Sceince': 97, 'Social': 89}
B= {'Tamil': 78, 'English': 68, 'Maths': 88, 'Sceince': 97, 'Social': 56}

for i,j in A.items():
  for x,y in B.items():
    if j == y:
      print(i,":",j)

English : 56
Maths : 88
Sceince : 97

In [ ]:
# count num of ele in dict values
a = {'M1': [67,79,90,73,36], 'M2': [89,67,84], 'M3': [82,57]}
b = []
for i,j in a.items():
  b.append(j)
print(b)

count = 0
for i in b:
  for j in i:
    count = count + 1
print("no of values:",count)

[[67, 79, 90, 73, 36], [89, 67, 84], [82, 57]]
no of values: 10

In [ ]:
# print dict line by line
a = {"Sam":{"M1":89,"M2":56,"M3":89}, "Suresh":{"M1":49,"M2":96,"M3":89}}

for i in a:
  print(i)                      # i is key of main dict
  # print(a[i])                         # whole nested dict 
  for j in a[i]:                 # j is key of nested dict
    print(j)
    print(a[i][j])               # a[i][j]   values of nested dict

Sam
M1
89
M2
56
M3
89
Suresh
M1
49
M2
96
M3
89

In [ ]:
# convert two list into dict
a = ["a","b","c"]
b = [1,3,5]

# zip method
c = dict(zip(a,b))
print(c)

{'a': 1, 'b': 3, 'c': 5}

In [ ]:
# merge two dict
keys = ["One", "Two", "Three", "Four", "Five"]
values = [1, 2, 3, 4, 5]

items = dict(zip(keys,values))
print(items)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}

In [ ]:
# Initialize dictionary with default values -- Fromkeys
stu = ["Siva", "Sam", "Ram", "Pooja"]
defaults = {"designation": "Student", "Department": "BCA"}

items = dict.fromkeys(stu,defaults)
print(items)

{'Siva': {'designation': 'Student', 'Department': 'BCA'}, 'Sam': {'designation': 'Student', 'Department': 'BCA'}, 'Ram': {'designation': 'Student', 'Department': 'BCA'}, 'Pooja': {'designation': 'Student', 'Department': 'BCA'}}

In [ ]:
# swaap chars
a = "pritam"
b = a[1]+a[0]+a[3]+a[2]+a[5]+a[4]
print(b)

rptima

In [ ]:
# delete keys from dict
a = {'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5}
#for i in a.items():
a.pop("Three")
print(a)

del a["Four"]
print(a)

a.popitem()                   # remove last elem
print(a)

{'One': 1, 'Two': 2, 'Four': 4, 'Five': 5}
{'One': 1, 'Two': 2, 'Five': 5}
{'One': 1, 'Two': 2}

In [ ]:
# extract keys 
a = { "Name": "Tara", "RollNo":130046, "Mark": 458, "City": "Chennai" }
keys = ["Name","Mark"]

d = {k:a[k] for k in keys}
print(d)

{'Name': 'Tara', 'Mark': 458}

In [ ]:
# extract keys 
a = { "Name": "Tara", "RollNo":130046, "Mark": 458, "City": "Chennai" }
keys = ["Name","Mark"]

for i in keys:
  a.pop(i)
print(a)

{'RollNo': 130046, 'City': 'Chennai'}

In [ ]:
# rename keys

a = { "Name": "Tara", "RollNo":130046, "Mark": 458, "City": "Chennai" }
a["ENG_Mark"] = a.pop("Mark")
a["Reg_No"] = a.pop("RollNo")
print(a)

{'Name': 'Tara', 'City': 'Chennai', 'ENG_Mark': 458, 'Reg_No': 130046}

In [ ]:
# sort dict by values .. descending
a = {'One': 1, 'Two': 2, 'Four': 4, 'Five': 5}

b = sorted(a.items(), key= lambda x:x[1], reverse=True)
print(b)

[('Five', 5), ('Four', 4), ('Two', 2), ('One', 1)]

In [ ]:
# max and min value from dict

a = {'One': 1, 'Two': 2, 'Four': 4, 'Five': 5}
print(max(a.items(), key=lambda x:x[1]))

print(min(a.items(), key=lambda x:x[1]))

('Five', 5)
('One', 1)

In [ ]:
# count word frequency
a = ["the", "name","of", "the", "rose", "the","english", "patient", "the","greatest", "showman", "in", "the", "name", "of", "the", "father"]
d = {}
for i in a:
  count = a.count(i)
  d[i] = count

print(d)

{'the': 6, 'name': 2, 'of': 2, 'rose': 1, 'english': 1, 'patient': 1, 'greatest': 1, 'showman': 1, 'in': 1, 'father': 1}

In [ ]:
# dict concatinate
d1 = {"HP": 11, "Acer": 7, "Lenovo": 17, "Del": 23}
d2 = {"Sumsung": 22, "Iphone": 9, "Other": 13}
d3 = {"Sumsung": 15, "Other": 13}

d = {}
for i in d1,d2,d3:
  d.update(i)
print(d)

# another method
e = {**d1,**d2,**d3}
print(e)

{'HP': 11, 'Acer': 7, 'Lenovo': 17, 'Del': 23, 'Sumsung': 15, 'Iphone': 9, 'Other': 13}
{'HP': 11, 'Acer': 7, 'Lenovo': 17, 'Del': 23, 'Sumsung': 15, 'Iphone': 9, 'Other': 13}

In [ ]:
# admitted sudents avg>=10
students = {"student_1" : 13 , "student_2" : 17 , "student_3" : 9 , "student_4" : 15 , 
			 "student_5" : 8 , "student_6" : 14 , "student_7" : 16 , "student_8" : 12 , 
			 "student_9" : 13 , "student_10" : 15 , "student_11" : 14 , "student_112" : 9 , 
			 "student_13" : 10 , "student_14" : 12 , "student_15" : 13 , "student_16" : 7 ,
			 "student_17" : 12 , "student_18" : 15 , "student_19" : 9 , "student_20" : 17 ,}
adm_st = {}
non_ad_st = {}

for i,j in students.items():
  if j >= 10:
    adm_st[i] = j
  else:
    non_ad_st[i] = j

print("admitted sudents:",adm_st)
print("non-admitted sudents:",non_ad_st)

admitted sudents: {'student_1': 13, 'student_2': 17, 'student_4': 15, 'student_6': 14, 'student_7': 16, 'student_8': 12, 'student_9': 13, 'student_10': 15, 'student_11': 14, 'student_13': 10, 'student_14': 12, 'student_15': 13, 'student_17': 12, 'student_18': 15, 'student_20': 17}
non-admitted sudents: {'student_3': 9, 'student_5': 8, 'student_112': 9, 'student_16': 7, 'student_19': 9}

In [ ]:
# keyboard type integer and shows sq of num in range
num = 10
d = {}
for i in range(1,num+1):
  d[i] = i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# count the occurance of each char
a = "turbodrive"
d = {}
for i in a:
  count = a.count(i)
  d[i] = count
print(d)

{'t': 1, 'u': 1, 'r': 2, 'b': 1, 'o': 1, 'd': 1, 'i': 1, 'v': 1, 'e': 1}

In [ ]:
# Write a function in Python that takes a list of integers as a parameter and returns a dictionary whose keys are the list integers and 
#whose values are "even" or "odd" depending on the number parity.

list = []
num = int(input("please enter num of entries:"))
for i in range(num):
  list.append(int(input("value is:")))
print(list)

d = {}
for i in list:
  if i%2 == 0:
    d[i] = "even"
  else:
    d[i] = "odd"

print(d)

please enter num of entries:4
value is:1
value is:3
value is:4
value is:5
[1, 3, 4, 5]
{1: 'odd', 3: 'odd', 4: 'even', 5: 'odd'}

In [ ]:
# ask user to enter list of integers and return the dict with int and "prime num or not"
"""

num = int(input("pls enter num  of entries:"))
list = []
for i in range(num):
  list.append(int(input("pls enter num:")))

print(list)
"""
list = [15,7,8,9,5,6,11]
d = {}
count = 0
for i in list:
  for j in range(1, i+1):
    if i%j == 0:
      count = count + 1

  if count == 2:
    d[i] = "prime"
  else:
    d[i] = "not prime"
print(d)

{15: 'not prime', 7: 'not prime', 8: 'not prime', 9: 'not prime', 5: 'not prime', 6: 'not prime', 11: 'not prime'}

In [ ]:

# divisor
def div(n):
  b = []
  for i in range(1, n+1):
    if n%i == 0:
      b.append(i)
  return b

d = {}

for i in range(1,11):          # for taking 10 entries from user
  n = int(input("pls enter num:"))
  d[n] = div(n)

print(d)

pls enter num:13
pls enter num:14
pls enter num:15
pls enter num:3
pls enter num:1
pls enter num:4
pls enter num:8
pls enter num:9
pls enter num:7
pls enter num:6
{13: [1, 13], 14: [1, 2, 7, 14], 15: [1, 3, 5, 15], 3: [1, 3], 1: [1], 4: [1, 2, 4], 8: [1, 2, 4, 8], 9: [1, 3, 9], 7: [1, 7], 6: [1, 2, 3, 6]}

In [ ]:
# return len and name
a = "Python is a programming language"
d = {}
for i in a.split():
  d[i] = len(i)
print(d)

{'Python': 6, 'is': 2, 'a': 1, 'programming': 11, 'language': 8}

In [ ]:
# take a input from user and return factorial

# for factorial
def fact(n):
  if n == 1:
    return 1
  else:
    return n*(fact(n-1))
fact(n)

# for taking input
d = {}
for i in range(1,5):
  n = int(input("pls enter num:"))

  d[n] = fact(n)
print(d)

pls enter num:3
pls enter num:4
pls enter num:5
pls enter num:6
{3: 6, 4: 24, 5: 120, 6: 720}

In [ ]:
# prime or not

# funtion for prime num
def prime(n):
  count = 0
  for i in range(1,n+1):
    if n%i == 0:
      count = count + 1
  if count == 2:
    return "prime number"
  else:
    return "not prime"


# taking input from user
d = {}
for i in range(1,6):
  n = int(input("pls enter num:"))
  d[n] = prime(n)                              # funtion prime(n)
print(d)

pls enter num:11
pls enter num:15
pls enter num:3
pls enter num:4
pls enter num:7
{11: 'prime number', 15: 'not prime', 3: 'prime number', 4: 'not prime', 7: 'prime number'}

In [ ]:
# divisor return list of divisor
# function for divisor
def div(n):
  b = []
  for i in range(1,n+1):
    if n%i == 0:
      b.append(i)
  return b

# for taking input from user
d = {}
for i in range(1,6):
  n = int(input("pls enter num:"))
  d[n] = div(n)                     # function div(n)

print(d)

pls enter num:11
pls enter num:6
pls enter num:8
pls enter num:9
pls enter num:42
{11: [1, 11], 6: [1, 2, 3, 6], 8: [1, 2, 4, 8], 9: [1, 3, 9], 42: [1, 2, 3, 6, 7, 14, 21, 42]}

In [ ]:
# sum

def sum(n):
  s = 0
  for i in range(1, n+1):
    s = s + i
  return s

# for taking input from user
n = int(input("pls enter number:"))
d = {}
for i in range(1,n+1):
  d[i] = sum(i)
print(d)

pls enter number:10
{1: 1, 2: 3, 3: 6, 4: 10, 5: 15, 6: 21, 7: 28, 8: 36, 9: 45, 10: 55}

In [ ]:
# Write a Python program that asks the user to enter a text and return him a dictionary whose keys are the words of the text entered and the values are the reverse of the words that make up the text. 
a = "Python is easy"
d = {}
for i in a.split():
  d[i] = "".join(reversed(i))
print(d)

{'Python': 'nohtyP', 'is': 'si', 'easy': 'ysae'}

In [ ]:
# sort dict by values
a = {'a1': [21, 17, 22, 3], 'a2': [11, 15, 8, 13], 'a3': [7, 13, 2, 11], 'a4': [22,14,7,9]}

d = {}
for i,j in a.items():
  d[i] = sorted(j)
print(d)

{'a1': [3, 17, 21, 22], 'a2': [8, 11, 13, 15], 'a3': [2, 7, 11, 13], 'a4': [7, 9, 14, 22]}

In [ ]:
# merge two dicts
keys = ['Name', 'Email', 'Phone']
values = ['Albert', 'albert@gmail.com', 2225668877]

c = dict(zip(keys, values))
print(c)

{'Name': 'Albert', 'Email': 'albert@gmail.com', 'Phone': 2225668877}

In [ ]:
# update dict by adding avg score
scores = {'score1' : 16, 'score2' : 14, 'score3' : 17}
a = []
for j in scores.values():
  a.append(j)
print(a)
sum = 0
for i in a:
  sum = sum + i
print(sum)

avg = sum/len(a)
print(round(avg, 2))            # to round off 2 decimal

scores["average"] = avg

print(scores)

[16, 14, 17]
47
15.67
{'score1': 16, 'score2': 14, 'score3': 17, 'average': 15.666666666666666}

In [ ]:
# convert list of values to avg ans- d = {'student1': 16.0, 'students2': 14.666666666666666, 'student3': 15.0}
d = {'student1': [14, 16, 18], 'students2': [12, 15, 17], 'student3': [16, 16, 13]}
a = []
for i,j in d.items():
  a.append(j)
print(a)

rec = lambda x: sum(map(rec, x))
print(rec(a))

c = {}

#print(a)
c[i] = a
print(c)

[[14, 16, 18], [12, 15, 17], [16, 16, 13]]

TypeError: ignored

In [ ]:
# sum of integer num
Number = 4156
Sum = 0
while(Number > 0):
    Reminder = Number % 10
    Sum = Sum + Reminder
    Number = Number //10

print("Sum of the digits of Given Number = %d" %Sum)

Sum of the digits of Given Number = 16

In [ ]:
# find LCM and GCD
a = 18
b = 12
c = a*b
for i in range(1,c+1):
  if i%a==0 and i%b==0:
    LCM = i
    break
print("LCM of given number is:", LCM)

# HCF by using formula
#gcd =

LCM of given number is: 36

In [ ]:
# find gcd 
a = 18
b = 12

min = 12

for i in range(1,min+1):
  if a%i == 0 and b%i == 0:
    HCF = i
print("hcf is:", HCF)

hcf is: 6

In [ ]:
# gcd by using recursion
a = 18
b = 12

def gcd(a,b):
  if a == 0:
    return b
  return gcd((b%a),a)

print(gcd(a,b))

lcm = (a*b)/gcd(a,b)
print(lcm)

6
36.0

In [ ]:
# prime or not

def prime(n):
  count = 0
  for i in range(1,n+1):
    if n%i == 0:
      count = count + 1
  
  if count == 2:
    return "PRime number"
  else:
    return "not prime number"

d = {}
for i in range(1,10):
  n = int(input("pls enter number:"))
  d[n] = prime(n)
print(d)

pls enter number:11
pls enter number:3
pls enter number:4
pls enter number:5
pls enter number:6
pls enter number:7
pls enter number:8
pls enter number:9
pls enter number:13
{11: 'PRime number', 3: 'PRime number', 4: 'not prime number', 5: 'PRime number', 6: 'not prime number', 7: 'PRime number', 8: 'not prime number', 9: 'not prime number', 13: 'PRime number'}

In [ ]:
# print all prime nums upto 100

d = {}
n = 100
for i in range(1,n+1):
  c = 0
  for j in range(1,i+1):
    if i%j==0:
      c = c +  1

  if c == 2:
    d[i] = "Prime"
  else:
    d[i] = "not prime"    

print(d)

{1: 'not prime', 2: 'Prime', 3: 'Prime', 4: 'not prime', 5: 'Prime', 6: 'not prime', 7: 'Prime', 8: 'not prime', 9: 'not prime', 10: 'not prime', 11: 'Prime', 12: 'not prime', 13: 'Prime', 14: 'not prime', 15: 'not prime', 16: 'not prime', 17: 'Prime', 18: 'not prime', 19: 'Prime', 20: 'not prime', 21: 'not prime', 22: 'not prime', 23: 'Prime', 24: 'not prime', 25: 'not prime', 26: 'not prime', 27: 'not prime', 28: 'not prime', 29: 'Prime', 30: 'not prime', 31: 'Prime', 32: 'not prime', 33: 'not prime', 34: 'not prime', 35: 'not prime', 36: 'not prime', 37: 'Prime', 38: 'not prime', 39: 'not prime', 40: 'not prime', 41: 'Prime', 42: 'not prime', 43: 'Prime', 44: 'not prime', 45: 'not prime', 46: 'not prime', 47: 'Prime', 48: 'not prime', 49: 'not prime', 50: 'not prime', 51: 'not prime', 52: 'not prime', 53: 'Prime', 54: 'not prime', 55: 'not prime', 56: 'not prime', 57: 'not prime', 58: 'not prime', 59: 'Prime', 60: 'not prime', 61: 'Prime', 62: 'not prime', 63: 'not prime', 64: 'not prime', 65: 'not prime', 66: 'not prime', 67: 'Prime', 68: 'not prime', 69: 'not prime', 70: 'not prime', 71: 'Prime', 72: 'not prime', 73: 'Prime', 74: 'not prime', 75: 'not prime', 76: 'not prime', 77: 'not prime', 78: 'not prime', 79: 'Prime', 80: 'not prime', 81: 'not prime', 82: 'not prime', 83: 'Prime', 84: 'not prime', 85: 'not prime', 86: 'not prime', 87: 'not prime', 88: 'not prime', 89: 'Prime', 90: 'not prime', 91: 'not prime', 92: 'not prime', 93: 'not prime', 94: 'not prime', 95: 'not prime', 96: 'not prime', 97: 'Prime', 98: 'not prime', 99: 'not prime', 100: 'not prime'}

In [ ]:
# convert two list into dict
a = ["a","b","c","d"]
b = [1,3,5,7]

c = dict(zip(a,b))
print(c)

c = {}
for i in range(len(a)):
  c.update({a[i]:b[i]})
print(c)

{'a': 1, 'b': 3, 'c': 5, 'd': 7}
{'a': 1, 'b': 3, 'c': 5, 'd': 7}

In [ ]:
# merge two dict in one
a = {'a': 1, 'b': 3, 'c': 5, 'd': 7}
b = {"e": 8, "f": 9, "g": 10}

c = {**a,**b}
print(c)

# upate and copy
c = {}
c = a.copy()
c.update(b)
print(c)

{'a': 1, 'b': 3, 'c': 5, 'd': 7, 'e': 8, 'f': 9, 'g': 10}
{'a': 1, 'b': 3, 'c': 5, 'd': 7, 'e': 8, 'f': 9, 'g': 10}
{'a': 'e', 'b': 'f', 'c': 'g'}

In [ ]:
# initialise key with default values
a = ['Kelly', 'Emma']
b = {"designation": 'Developer', "salary": 8000}

c = {}
c  = c.fromkeys(a,b)
print(c)


# by using dict
d = {}
for i in a:
  d.update({i:b})
print(d)

c = {}
for i in a:
  c[i] = b
print(c)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [ ]:
# extract name, salary
a = {"name": "Kelly","age": 25, "salary": 8000,"city": "New york"}

a.pop("name")
a.pop("salary")
print(a)

a = {"name": "Kelly","age": 25, "salary": 8000,"city": "New york"}
a.pop("name","salary")                                            # we cant remove more than 1 key from dict by using pop
print(a) 

a = {"name": "Kelly","age": 25, "salary": 8000,"city": "New york"}
del a["name"]
print(a)

{'age': 25, 'city': 'New york'}
{'age': 25, 'salary': 8000, 'city': 'New york'}
{'age': 25, 'salary': 8000, 'city': 'New york'}

In [ ]:
# access key-name and salary
a = {"name": "Kelly","age": 25, "salary": 8000,"city": "New york"}
b = {}
c = ["name","salary"]
b = {x:a[x] for x in c}
print(b)

d = {}
for i in c:
  d.update({i:a[i]})
print(d)

{'name': 'Kelly', 'salary': 8000}
{'name': 'Kelly', 'salary': 8000}

In [ ]:
#  rename key
a = {"name": "Kelly","age": 25, "salary": 8000,"city": "New york"}

a["location"] = a.pop("city")
print(a)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
a = {'Physics': 82,'Math': 65, 'history': 75}

print(min(a, key=a.get))

Math

In [ ]:
# change dict value of nested dict
a = {'emp1': {'name': 'Jhon', 'salary': 7500},'emp2': {'name': 'Emma', 'salary': 8000},'emp3': {'name': 'Brad', 'salary': 6500}}
a["emp3"]["salary"] = 10000
print(a)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 10000}}

In [ ]:
var = 10
for i in range(10):
    for j in range(2, 10, 1):
        if j % 2 == 0:
          continue
          var += 1
        var+=1
else:
    var+=1
print(var)

51

In [ ]:
for num in range(10, 14):
   for i in range(2, num):
     #print(i, end=" ")
     if num%i == 1:
       print(num)
       break

10
11
12
13

In [ ]:
x = 0
for i in range(10):                        # it runs 10 times
  #print(i)
  for j in range(-1, -10, -1):              # j loop runs 9 times..after 1 execution of i loop
    #print(j, end="")
    x += 1                                   # total iteration = 90
  #print()
print(x)

90

In [ ]:
# sort dict 
a = {"eng":15,"mar":81,"math":64,"sci":63}
a = sorted(a.items(), key=lambda x:x[1])
print(a)

[('eng', 15), ('sci', 63), ('math', 64), ('mar', 81)]

In [ ]:
# add key in dict
a = {"eng":15,"mar":81,"math":64,"sci":63}
a["sports"] = 88
print(a)

{'eng': 15, 'mar': 81, 'math': 64, 'sci': 63, 'sports': 88}

In [ ]:
# concatenate dict
a = {1:10, 2:20}
b = {3:30, 4:40}
c = {5:50,6:60}

# unpacking method
d = {**a,**b,**c}
print(d)

# for loop
e = {}
for i in a,b,c:
  e.update(i)
print(e)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# check key present or not
a = {'eng': 15, 'mar': 81, 'math': 64, 'sci': 63, 'sports': 88}

b = []
for i in a:
  b.append(i)

if "math" in b:
  print("key present")
else:
  print("not present")

key present

In [ ]:
# iterate over loops
a = {'eng': 15, 'mar': 81, 'math': 64, 'sci': 63, 'sports': 88}
# for keys
for i in a:
  print(i, end=" ")
print()
for i in a.keys():
  print(i, end=" ")
print()
# for values
for i in a:
  print(a[i], end=" ")
print()
for i in a.values():
  print(i, end=" ")
print()
# both together
for i, j in a.items():
  print(i, end=" ")
  print(j, end=" ")
print()

# both keys and values
for i in a.items():
  print(i)

eng mar math sci sports
eng mar math sci sports
15 81 64 63 88
15 81 64 63 88
eng 15 mar 81 math 64 sci 63 sports 88
('eng', 15)
('mar', 81)
('math', 64)
('sci', 63)
('sports', 88)

In [ ]:
# sq of given range, upto 12nums
num = 12
d = {}
for i in range(1, num+1):
  d[i] = i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}

In [ ]:
# merge two dic
a = {'a': 100, 'b': 200}
b = {'x': 300, 'y': 200}

# using for loop
c = {}
for i in a,b:
  c.update(i)
print(c)

# using unpacking method
d = {**a,**b}
print(d)

# using copy & update
e = a.copy()
e.update(b)
print(e)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}
{'a': 100, 'b': 200, 'x': 300, 'y': 200}
{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [ ]:
# sum of all values in dict
a = {'eng': 15, 'mar': 81, 'math': 64, 'sci': 63, 'sports': 88}
b = []
for i,j in a.items():
  b.append(j)
print(b)
sum = 0
for i in b:
  sum = sum + i
print("sum of vals:", sum)

[15, 81, 64, 63, 88]
sum of vals: 311

In [ ]:
# multiply all values from dict
a = {'eng': 15, 'mar': 81, 'math': 64, 'sci': 63, 'sports': 88}
d = []
for i in a:
  d.append(a[i])
print(d)

from functools import reduce
c = reduce(lambda x,y:x*y, d)
print("prod is:", c)

#another method
import math
print(math.prod([15, 81, 64, 63, 88]))

[15, 81, 64, 63, 88]
prod is: 431101440
431101440

In [ ]:
# remove key from dict
a = {'eng': 15, 'mar': 81, 'math': 64, 'sci': 63, 'sports': 88}

b = a.pop("math")
print(a)

# popitem removes last element
a.popitem()
print(a)

# del
del a["sci"]
print(a)

# clear
a.clear()
print(a)

{'eng': 15, 'mar': 81, 'sci': 63, 'sports': 88}
{'eng': 15, 'mar': 81, 'sci': 63}
{'eng': 15, 'mar': 81}
{}

In [ ]:
# map two list into dict
a = ["a","b","c","d"]
b = [1,3,4,6]

b = dict(zip(a,b))
print(b)

{'a': 1, 'b': 3, 'c': 4, 'd': 6}

In [ ]:
# sort dict by key
a = {'a': 1,'d': 6,"f":8, 'b': 3, 'c': 4}
print(a)
b = sorted(a.items(), key=lambda x:x[0])
print(b)

{'a': 1, 'd': 6, 'f': 8, 'b': 3, 'c': 4}
[('a', 1), ('b', 3), ('c', 4), ('d', 6), ('f', 8)]

In [ ]:
# get max and min from dict

a = {'a': 1,'d': 6,"f":8, 'b': 3, 'c': 4}
b = max(a.items(), key=lambda x:x[0])
print(b)

b = min(a.items(), key=lambda x:x[0])
print(b)

('f', 8)
('a', 1)

In [ ]:
# get dict from objcet field
a = {'a': 1,'d': 6,"f":8, 'b': 3, 'c': 4}
b = a.get("b")
print(b)

3

In [ ]:
# check dict empty or not

b = {}

# len option
if len(b) == 0:
  print("dict is empty")
else:
  print("dict is full")

# for loop
for i in b:
  if i != None:
    print("not empty")
  else:
    print("empty")

dict is empty

In [ ]:
# addition of values
a = {'a': 100, 'b': 200, 'c':300}
b = {'a': 300, 'b': 200, 'd':400}

for key in a:
  if key in b:
    b[key] = a[key] + b[key]
  else:
    b[key] = a[key]
print(b)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}
Counter({'b': 600, 'c': 600, 'a': 500, 'd': 400})

In [ ]:
a = {'a': 100, 'b': 200, 'c':300}
b = {'a': 300, 'b': 200, 'd':400}

from collections import Counter
c = Counter(a) + Counter(b)
print(c)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [ ]:
dict1 = {0: 33.422, 1: 39.2308, 2: 30.132}
dict2 = {0: 42.2422, 1: 43.342, 2: 42.424}
dict3 = {0: 13.422, 1: 9.2308, 2: 20.132}
dicts = []
dicts.append(dict1)
dicts.append(dict2)
dicts.append(dict3)

print(dicts)

[{0: 33.422, 1: 39.2308, 2: 30.132}, {0: 42.2422, 1: 43.342, 2: 42.424}, {0: 13.422, 1: 9.2308, 2: 20.132}]

In [ ]:
# print only unique values
L = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
print("Original List: ",L)
u_value = set( val for dic in L for val in dic.values())
print("Unique Values: ",u_value)

Original List:  [{'V': 'S001'}, {'V': 'S002'}, {'VI': 'S001'}, {'VI': 'S005'}, {'VII': 'S005'}, {'V': 'S009'}, {'VIII': 'S007'}]
Unique Values:  {'S007', 'S005', 'S002', 'S001', 'S009'}

In [ ]:
# largest prime number

n = 124
def prime(n):
  for i in range(2, n):
    if n%i == 0:
      return False
  return True

f = []                # to store factors
for i in range(2, n):
  if prime(i):
    #print(i)    # all prime nums upto n
    if n%i == 0:
      f.append(i)

#print(f)
print("largest prime num:",max(f))          # largest

largest prime num: 31

In [ ]:
# factorial of given num
n = 5

# factorial by recursion method
def fact(n):
  if n == 1:
    return 1
  else:
    return n*fact(n-1)

print("factorial of 5:", fact(n))

# factorial by for loop
n = 6
fact = 1
for i in range(1,n+1):
  fact = fact * i
print("factorial of 6:",fact)

factorial of 5: 120
factorial of 6: 720

In [ ]:
# find sum of odd nums of factors
n = 68
f = []              # to store factors

for i in range(2,n+1):
  if n%i == 0:
    f.append(i)
#print(f)

odd = []
even = []
for x in f:        # access nums from list
  if x%2 == 0:
    even.append(x)
  else:
    odd.append(x)

#print(odd)
#print(even)

print("sum of odd nums:", sum(odd))

sum of odd nums: 17