<a href="https://colab.research.google.com/github/pritamudugade/Python-basics-codes/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# dictionary

"""
Key points
1. Mutable in nature- add/remove data can be possible
2. hashtable is background data structure
3. pair of key-values
4. key - only immutable objects (like string, numbers, tuples) can be used as key. we cannot use mutable obejcts like list as key
5. dictionary can be access by key 
6. dictionary only accepts immuatble objects for keys, hence we cannot access dictionary with index number.
7. dictionaries are very fast.
8. value can be of any type..
9. keys duplication not accptable
"""

In [ ]:
# creating dictionay
# dict() constructor

a = dict({1:2,3:4,5:6})                 # encapuslated in curly braces
print(a)
print(type(a))

b = {}                  # blank dict
print(b)
print(type(b))

{1: 2, 3: 4, 5: 6}
<class 'dict'>
{}
<class 'dict'>

In [ ]:
a = ({"car":"honda","model":"H5","price":"85858"})
print(a)
print(type(a))

{'car': 'honda', 'model': 'H5', 'price': '85858'}
<class 'dict'>

In [ ]:
# accessing dictionary by using key
print(a["car"])
print(a["model"])
print(a["price"])

honda
H5
85858

In [ ]:
# updating dictionary
a = ({"car":"honda","model":"H5","price":"85858"})
print(a)
a["car"] = "BMW"               # name changed to BMW
print(a)

a["mileage"] = 15                   # one extra key- mileage added to a dict
print(a)

a["price"] = 78974
print(a)

{'car': 'honda', 'model': 'H5', 'price': '85858'}
{'car': 'BMW', 'model': 'H5', 'price': '85858'}
{'car': 'BMW', 'model': 'H5', 'price': '85858', 'mileage': 15}
{'car': 'BMW', 'model': 'H5', 'price': 78974, 'mileage': 15}

In [ ]:
# update method

In [ ]:
# copy dict
b = a
print(b)             # this is not copy, any chages in a will affect b and vice versa

{'car': 'BMW', 'model': 'H5', 'price': 78974, 'mileage': 15}

In [ ]:
b = a.copy()
print(b)

{'car': 'BMW', 'model': 'H5', 'price': 78974, 'mileage': 15}

In [ ]:
# pop method, del method and clear and popitems()
a = {'car': 'BMW', 'model': 'H5', 'price': 78974, 'mileage': 15}
print(a)

print(a.pop("model"))          # remove model
print(a)

print(a)
print(a.popitem())                   # remove last element
print(a)

# by using del keyword

del (a["price"])
print(a)

a.clear()
print(a)

del a
# print(a)                   will give error beacause now a del forever

{'car': 'BMW', 'model': 'H5', 'price': 78974, 'mileage': 15}
H5
{'car': 'BMW', 'price': 78974, 'mileage': 15}
{'car': 'BMW', 'price': 78974, 'mileage': 15}
('mileage', 15)
{'car': 'BMW', 'price': 78974}
{'car': 'BMW'}
{}

In [ ]:
# iterating through for loop
a = {'car': 'BMW', 'model': 'H5', 'price': 78974, 'mileage': 15}
print(a)

for i in a:
  print(i)                     # will give keys

for i in a:
  print(a[i])                   # will give values

for i in a.keys():
  print(i)                         # will give keys

for i in a.values():
  print(i)                            # values

for i,j in a.items():
  print(i)                               # keys

for i,j in a.items():
  print(j)                            # values

for i in a.items():
  print(i)                                # both key-value pair

{'car': 'BMW', 'model': 'H5', 'price': 78974, 'mileage': 15}
car
model
price
mileage
BMW
H5
78974
15
car
model
price
mileage
BMW
H5
78974
15
car
model
price
mileage
BMW
H5
78974
15
('car', 'BMW')
('model', 'H5')
('price', 78974)
('mileage', 15)

In [ ]:
# convert tuple of tuple into dictionary
a = ((1,15),(5,31),(8,75))
b = dict((x,y) for x,y in a)
print(b)
print(type(b))

{1: 15, 5: 31, 8: 75}
<class 'dict'>

In [ ]:
a = {'car': 'BMW', 'model': 'H5', 'price': 78974, 'mileage': 15}
print(a)

{'car': 'BMW', 'model': 'H5', 'price': 78974, 'mileage': 15}

In [ ]:
# add element
b = {0: 10, 1: 20}
b[2] = 30
print(b)

{0: 10, 1: 20, 2: 30}

In [ ]:
# concatenate dictionaries

a = {1:10, 2:20}
b = {3:30, 4:40}
c = {5:50, 6:60}

d = {}
for i in (a,b,c): d.update(i)
print(d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
a = {'car': 'BMW', 'model': 'H5', 'price': 78974, 'mileage': 15}
print(a)

if "car" in a:
  print("given key available in dictionary")
else:
  print("given key not available")

if "mobile" in a:
  print("given key avaialble in dictionary ")
else:
  print("given key not available")

{'car': 'BMW', 'model': 'H5', 'price': 78974, 'mileage': 15}
given key available in dictionary
given key not available

In [ ]:
# square nums of given range upto n number
n = 6
d = {}
for i in range(1, n+1):
  d[i] = i*i
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
# square on 1 to 15 number range
for i in range(1,16):
  d[i] = i*i
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
# merge two python dictionary

d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}

d3 = d1.copy()
d3.update(d2)
print(d3)

# another method
d3 = {**d1, **d2}
print(d3)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}
{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [ ]:
# Python program to iterate over dictionaries using for loops
a = {'a': 100, 'b': 200, 'x': 300, 'y': 200}
for i in a:
  print("keys:", i)         # print keys
print()

for i in a:
  print("values:", a[i])         # print values
print()

for i in a.keys():
  print("keys:", i)
print()

for i in a.values():
  print("values:", i)       
print()

for i in a.items():
  print("pair of key and values:", i)

keys: a
keys: b
keys: x
keys: y

values: 100
values: 200
values: 300
values: 200

keys: a
keys: b
keys: x
keys: y

values: 100
values: 200
values: 300
values: 200

pair of key and values: ('a', 100)
pair of key and values: ('b', 200)
pair of key and values: ('x', 300)
pair of key and values: ('y', 200)

In [ ]:
a = {'a': 100, 'b': 200, 'x': 300, 'y': 200}
for i in a:
  print(a[i[0]])

100
200
300
200

In [ ]:
a = {'a': 100, 'b': 200, 'x': 300, 'y': 200}
b = []
for i in a:
  b.append(a[i])
print(b)
print(type(b))
print("sum is:", sum(b))

[100, 200, 300, 200]
<class 'list'>
sum is: 800

In [ ]:
# extract values form dict
a = {'a': 100, 'b': 200, 'x': 300, 'y': 200}
b = a.values()                   # values return the tuple of list
print(b)
print(type(b))                 # class dict_values

dict_values([100, 200, 300, 200])
<class 'dict_values'>

In [ ]:
a = {'a': 100, 'b': 200, 'x': 300, 'y': 200}
b = a.keys()
print(b)
print(type(b))                 # class dict_keys

dict_keys(['a', 'b', 'x', 'y'])
<class 'dict_keys'>

In [ ]:
# extract values from dict and sum
a = {'a': 100, 'b': 200, 'x': 300, 'y': 200}
b = a.values()
sum_values = sum(b)
print(sum_values)

800

In [ ]:
# multiply all items
a = {'a': 100, 'b': 200, 'x': 300, 'y': 200}
b = a.values()
print(b)

mul = 1
for i in b:
  mul = mul * i
print("mul of values:", mul)

from functools import reduce
#b = reduce(lambda x,y: x*y ,a)
print(b)

dict_values([100, 200, 300, 200])
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
dict_values([100, 200, 300, 200])

In [ ]:
a = {'a': 100, 'b': 200, 'x': 300, 'y': 200}
mul = 1
for i in a:
  b = mul * a[i]
print("multiplication of values:", b)

multiplication of values: 200

In [ ]:
# remove key from dict
a = {'a': 100, 'b': 200, 'x': 300, 'y': 200}
a.pop("x")
print(a)

{'a': 100, 'b': 200, 'y': 200}

In [ ]:
# map two list into dict
m = [1,3,5,7]
l= ["a","b","c","d"]
d = dict(zip(m,l))
print(d)

e = dict(zip(l,m))
print(e)

{1: 'a', 3: 'b', 5: 'c', 7: 'd'}
{'a': 1, 'b': 3, 'c': 5, 'd': 7}

In [ ]:
# sort given dict by key
s = {'red':'#FF0000','green':'#008000','black':'#000000','white':'#FFFFFF'}
for i in sorted(s):
  print(i,":" ,s[i])

black : #000000
green : #008000
red : #FF0000
white : #FFFFFF

In [ ]:
# maximum and minimum vals from values

p = {'a': 100, 'b': 200, 'x': 300, 'y': 200}

maxi = max(p.keys(), key= lambda x: p[x])
print("maximum:",maxi, ":", p[maxi])

mini = min(p.keys(), key=lambda x: p[x])
print("minimum:",mini,":",p[mini])

maximum: x : 300
minimum: a : 100

In [ ]:
# check dict is empty or not
dic = {}

if not (dic):
  print("Dictionary is empty")


# another method
if len(dic) == 0:
  print("dict is empty")
else:
  print("dict has something")

# another method
if dic == {}:
  print("dict is empty")
else:
  print("dict has something")

# to check list empty or not!!
li = []
if not bool(li):
  print("list is empty")

Dictionary is empty
dict is empty
dict is empty
list is empty

In [ ]:
# combine two dict (add elements with same key)
# when elemts are same

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'c':400}


d = {i: d1[i] + d2[i] for i in d1.keys()}
print(d)

{'a': 400, 'b': 400, 'c': 700}

In [ ]:
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d = Counter(d1) + Counter(d2)
print(d)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [ ]:
# **operator used for unpacking purpose
k = {'John': 15, 'Rick': 10, 'Misa': 12}
print({**k})

{'John': 15, 'Rick': 10, 'Misa': 12}

In [ ]:
# convert list of dict into single dict
a = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
print(type(a))
print(len(a))
b = {}
for i in a:
  b.update(i)
print(b)
print(type(b))
print(len(b))

<class 'list'>
7
{'V': 'S009', 'VI': 'S005', 'VII': 'S005', 'VIII': 'S007'}
<class 'dict'>
4

In [ ]:
# print unique values
a = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
c = {}

for i in a:
  c.update(i)                 # duplicates not possible in dictionary hence same key name not get updated
print(c)

b = []
for i in c.values():
  if i not in b:
    b.append(i)
print(b)

{'V': 'S009', 'VI': 'S005', 'VII': 'S005', 'VIII': 'S007'}
['S009', 'S005', 'S007']

In [ ]:
# find 1st 3 largest digits
x = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}  
from heapq import nlargest
y = nlargest(3, x, key=x.get)
print(y)

['b', 'e', 'c']

In [ ]:
# find 1st 3 largest digits
a = [1,2,3,4,5,6,7,8,9]

b = []
for i in range(len(a)):
  b.append(max(a))
  if max(a) in b:
    a.remove(max(a))
    if len(b) == 3:
      break

print(sorted(b))


# another method
from heapq import nlargest
c = nlargest(3, a)
print(c)

[7, 8, 9]
[6, 5, 4]

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
from heapq import nlargest
c = nlargest(3, a)
print(c)

[9, 8, 7]

In [ ]:
# sum individual key
student = [{'id': 1, 'success': True, 'name': 'Lary'},
 {'id': 2, 'success': False, 'name': 'Rabi'},
 {'id': 3, 'success': True, 'name': 'Alex'}]

print(sum(d["id"] for d in student))
print(sum(d["success"] for d in student))

6
2

In [ ]:
num = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}
a = {x:sorted(y) for x,y in num.items()}
print(a)

{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [ ]:
a = {'Aex':{'class':'V','rolld_id':2},'Puja':{'class':'V','roll_id':3}}

for i in a:
  print(a[i])
  for j in a[i]:
    print(j, a[i][j])

{'class': 'V', 'rolld_id': 2}
class V
rolld_id 2
{'class': 'V', 'roll_id': 3}
class V
roll_id 3

In [ ]:
# find number of values present in gven dict
dict =  {'Alex': ['subj1', 'subj2', 'subj3'], 'David': ['subj1', 'subj2']}
ctr = sum(map(len, dict.values()))
print(ctr)

5

In [ ]:
marks = {'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}
b = marks.values()
print(b)
c = {key:value for (key,value) in marks.items() if value > 170}
print(c)

dict_values([175, 180, 165, 190])
{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [ ]:
# find out height and weight more than 6,70
a = {'Cierra Vega': (6.2, 70), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
res = {x:y for (x,y) in a.items() if y[0] >= 6 and y[1] >= 70}
print(res)

{'Cierra Vega': (6.2, 70)}

In [ ]:
# check all values are same
a = {'Cierra Vega': 12, 'Alden Cantrell': 12, 'Kierra Gentry': 12, 'Pierre Cox': 12}
def check(a, n):
    result = all(x == n for x in a.values()) 
    return result

print(check(a,12))

True

In [ ]:
# access dictionary by index number
num = {'physics': 80, 'math': 90, 'chemistry': 86}
num = list(num)
print(num)
print(num[0])

['physics', 'math', 'chemistry']
physics

In [ ]:
# converrt dict into list of list
a = {1 : 'red', 2 : 'green', 3 : 'black', 4 : 'white', 5 : 'black'}
a = list(map(list, a.items()))
print(a)

[[1, 'red'], [2, 'green'], [3, 'black'], [4, 'white'], [5, 'black']]

In [ ]:
# print only values of even nums 
a = {'V': [1, 4, 6, 10], 'VI': [1, 4, 12], 'VII': [1, 3, 8]}
b = {x:[i for i in y if i%2==0] for (x,y) in a.items()}
print(b)

{'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}

In [ ]:
a = {'a': 5, 'b': 14, 'c': 32, 'd': 35, 'e': 24, 'f': 100, 'g': 57, 'h': 8, 'i': 100}
from heapq import nlargest
b = nlargest(1, a, key = a.get)
print(b)

b = nlargest(3, a, key=a.get)
print(b)

b = nlargest(5, a, a.get)
print(b)

['f']
['f', 'i', 'g']
['f', 'i', 'g', 'd', 'c']

In [ ]:
# identify shortest values 
a = {'V': [10, 12], 'VI': [10], 'VII': [10, 20, 30, 40], 'VIII': [20], 'IX': [10, 30, 50, 70], 'X': [80]}

b = {x:y for x,y in a.items() if len(y)==1}                        # for both key and values
print(b)

b = {x for x,y in a.items() if len(y)==1}                        # only for key elements
print(b)

{'VI': [10], 'VIII': [20], 'X': [80]}
{'VIII', 'VI', 'X'}

In [ ]:
# frequency of given num values

a = {'V': 10, 'VI': 10, 'VII': 40, 'VIII': 20, 'IX': 70, 'X': 80, 'XI': 40, 'XII': 20}

from collections import Counter
def test(a):    
    result = Counter(a.values())
    return result
print(test(a))

{'V': 1, 'VI': 1, 'VII': 1, 'VIII': 1, 'IX': 1, 'X': 1, 'XI': 1, 'XII': 1}
{70, 40, 10, 80, 20}
Counter({10: 2, 40: 2, 20: 2, 70: 1, 80: 1})

In [ ]:
# separate duplicate values.
a = {'V': 10, 'VI': 10, 'VII': 40, 'VIII': 20, 'IX': 70, 'X': 80, 'XI': 40, 'XII': 20}
c = []
d = []
count = 0
for i in a.values():
  #print(type(i))
  if i not in c:
    c.append(i)
  else:
    d.append(i)

print(c)
print(d)

[10, 40, 20, 70, 80]
[10, 40, 20]

In [ ]:
# count occurance of values

a = {'V': 10, 'VI': 10, 'VII': 40, 'VIII': 20, 'IX': 70, 'X': 80, 'XI': 40, 'XII': 20}
 
x = a.values()                         # extract values from dict
x = list(x)                                # dict_values has no attribute count, hence convert it to list
print(x)
e = {}                           # empty dict to update values
for i in x:
  count = x.count(i)                      # x is list of dict values
  e[i] = count
print(e)

[10, 10, 40, 20, 70, 80, 40, 20]
{10: 2, 40: 2, 20: 2, 70: 1, 80: 1}

In [ ]:
# frequency of given num values

a = {'V': 10, 'VI': 10, 'VII': 40, 'VIII': 20, 'IX': 70, 'X': 80, 'XI': 40, 'XII': 20}

from collections import Counter
def test(a):    
    result = Counter(a.values())
    return result
print(test(a))

Counter({10: 2, 40: 2, 20: 2, 70: 1, 80: 1})

In [ ]:
# get the total length of all values of a given dictionary with string values. Go to the editor
a = {'#FF0000': 'Red', '#800000': 'Maroon', '#FFFF00': 'Yellow', '#808000': 'Olive'}

count = 0
for i in a.values():
  print(i, end=" ")
  count = count + len(i)
print("\ntotal count of string value is:", count)

Red Maroon Yellow Olive
total count of string value is: 20

In [ ]:
# combine 2 dict
a = {'w': 50, 'x': 100, 'y': 'Green', 'z': 400}
b = {'x': 300, 'y': 'Red', 'z': 600}
c = []
for i in a,b:
  for x in i:
    print(x)
    print(i[x])
    print(c[x])
    #c[x].append(i[x])
print(c)

w
50

TypeError: ignored

In [ ]:
from collections import defaultdict
def test(*dicts):
  result = defaultdict(list)
  for el in dicts:
    for key in el:
      result[key].append(el[key])
  return dict(result)